body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, #2b0c4d, #e140fc, #f99a29); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 101vh;
    padding: 19px;
    background-attachment: fixed;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 31px;
    color: #323232;
    margin-bottom: 11px;
    text-shadow: 1px 1px 0px #efefef;
}

p {
    color: #686868; 
    text-align: center;
    line-height: 1.6;
    font-size: 18.5px; 
    margin-bottom: 29px; 
    letter-spacing: 0.1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background: #ffffff;
    border-radius: 19px 21px 22px 20px;
    box-shadow: 8px 8px 0px #2b0c4d; 
    width: 401px; 
    transition: transform 0.31s ease-out, box-shadow 0.19s linear;
}

.socials a:hover {
    background: #f99a29; 
    transform: translateY(-5px);
}

.content {
    padding: 50px 47px 51px 49px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 14.5px 34px; 
    font-size: 19px; 
    background: #01a9ff; 
    border: none;
    border-radius: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.28s ease-in;
}

.socials {
    display: flex;
    gap: 13.5px;
    margin-bottom: 33px; 
}

.profile-img {
    width: 158px; 
    height: 158px; 
    object-fit: cover;
    border-radius: 50%;
    border: 6px double #fec667; 
    margin-bottom: 23px; 
    transform: rotate(1deg);
}

.card:hover {
    transform: scale(1.05) rotate(-2deg); 
    box-shadow: 12px 12px 0px #2b0c4d; 
}

.socials a {
    width: 43px; 
    height: 43px; 
    background: #2b0c4d; 
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 19.1px; 
    text-decoration: none;
    transition: background 0.42s ease-out, transform 0.21s ease; 
}

button:hover {
    background-color: #e140fc; 
    box-shadow: 0 0 15px #e140fc; 
    outline: 2px solid #fff; 
}